/* .contenido1{
    position: relative;
    top: 60px;
    border: 1px solid black;
} */

.contenidoRopa{
    background-color: rgb(247, 224, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-right-radius: 50%; border-top-left-radius: 50%;
}

.formDataRopa{
    background-color: rgba(247, 224, 194, 0.938);
    display: flex;
    flex-direction: column;
    width: 500 px;
    gap: 10px;
    border-bottom-left-radius: 50%; border-top-right-radius: 50%;
}

.templatesBase{
    background-color:rgb(240, 193, 132);
    text-align:center;
}

.btn{
    border-radius: 20px !important;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}