<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/myestilo.css'%}">
    <title>APP  DONAR</title>
</head>
<body style="background-color:rgb(147, 175, 228);text-align:center">
    <nav class="navbar navbar-expand-md navbar-dark fiexed-top bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a style="color: #ffffff" class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="/AppDonar/home">HOME |</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #cccccc" class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="/AppDonar/ropa">ROPA</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #bbbbbb" class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="/AppDonar/utensilio">UTENSILIOS</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #aaaaaa" class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="/AppDonar/mascota">MASCOTAS</a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 225px">
                        <img src="{{ avatar }}" width="40 px">
                    </li>
                    <li class="nav-item" style="position: absolute; right: 100px">
                        <a style="color: #b300ff" class="nav-link active" aria-current="page" href="/perfil">{{ user.username.lower }}{{ user.last_name.capitalize }}</a>
                    </li>
                    <li class="nav-item" style="position: abolute; right: 0px">
                        <a style="color: #b300ff" class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="/logout">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="color: rgb(29, 73, 129);">Bienvenido/a a la AppDonar</h1>
    <!-- <div class="contenido1"> -->
        <div>
            {% block contenido %}
            {% endblock %}
    </div>
</body>
</html>