{% extends "home.html" %}

{% load static %}

{% block contenido %}
<div align="center">
    <h2 style="justify-self: center;">MASCOTAS</h2>
    <form class="formDataRopa" action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button style="width: 10%; align-self:center;" type="submit" class="btn btn-success btn">DONAR</button>
    </form>
</div>


<div class="contenidoRopa">
    <form class="formDataRopa" action="/AppDonar/buscar_mascota/" method="GET">
        <input type="text" name="tipo" placeholder="perro/gato/hamster/etc">
        <button type="submit" class="btn btn-warning btn">BUSCAR</button>
    </form>
</div>
<div>
    {% if mascota %}
    <ul align="left">
        {% for mascota in mascota %}
        <li>GÉNERO --> {{mascota.genero}}</li>
        <li>TAMAÑO --> {{mascota.tamaño}}</li>        
        <li>EDAD --> {{mascota.edad}} año/s</li>  
        <li>CASTRADO --> {{mascota.castracion}}</li>        
        <li>{{mascota.email}}</li>  
        <li>{{mascota.imagen}}</li> 
        <p></p>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
