{% extends "home.html" %}

{% load static %}

{% block contenido %}

<div align="center">
<h2 style="justify-self: center;">ROPA</h2>
    <form class="formDataRopa" action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button style="width: 10%; align-self:center;" type="submit" class="btn btn-success btn">Registrar</button>
    </form>
</div>

<div class="contenidoRopa">
    <form action="/AppDonar/buscar_ropa/" method="GET">
        <input type="text" name="tipo" placeholder="camisa/remera/pantalon/etc">
        <button type="submit" class="btn btn-primary btn">BUSCAR</button>
    </form>
</div>
<div>
    {% if ropa %}
    <ul align="left">
        {% for ropa in ropa %}
        <li>TALLE --> {{ropa.talle}}</li>
        <li>COLOR --> {{ropa.color}}</li>        
        <li>{{ropa.email}}</li>      
        <li>{{ropa.imagen}}</li>      
        <p></p>
        {% endfor %}      
    </ul>
    {% endif %}
</div>
{% endblock %}