{% extends "home.html" %}

<!-- {% load static %} -->

{% block contenido %}

<div align="center">
    <h2 style="justify-self: center;">UTENSILIOS</h2>
    <form class="formDataRopa" action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button style="width: 10%; align-self:center;" type="submit" class="btn btn-success btn">DONAR</button>
    </form>
</div>
<div class="contenidoRopa">
    <form class="formDataRopa" action="/AppDonar/buscar_utensilio/" method="GET">
        <input type="text" name="tipo" placeholder="cama/heladera/mesa/etc">
        <button type="submit" class="btn btn-warning btn">BUSCAR</button>
    </form>
</div>
<div>
    {% if utensilio %}
    <ul align="left">
        {% for utensilio in utensilio %}
        <li>COLOR --> {{utensilio.color}}</li>        
        <li>FECHA ELABORACIÓN --> {{utensilio.fechaElab}}</li>        
        <li>{{utensilio.email}}</li>       
        <li>{{utensilio.imagen}}</li>
        <p></p>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}