{% extends "home.html" %}

{% load static %}
<!-- comentando bootstrap porque lo está heredando de home (linea 1) -->
<!-- <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}"> -->

{% block contenido %}
    {% for mascota in mascota %}
        <li>
            {{ mascota }}
            <a href="/AppDonar/update_mascota/{{ mascota.id }}" class="btn btn-warning">Edit</a>
            <a href="/AppDonar/delete_mascota/{{ mascota.id }}" class="btn btn-danger">Delete</a>
        </li>
        <br>
    {% endfor %}

    <a class="btn btn-success" href="/AppDonar/create_mascota/">Agregar mascota</a>
{% endblock %}